body {
    background-color: #A2A2A2; 
    font-family: Sans-serif;
    margin: 0;
    padding: 0;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 175px;
    background-color: #5E5E5E; 
    color: #f2f2f2; 
    padding: 20px;
}


.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown .dropbtn {
    font-size: 25px;
    padding: 16px 20px; 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ddd; 
    min-width: 150px;
	right: 30px ;
}

.dropdown-content a {
    color: #000000;
	font-size: 20px;
    padding: 12px 16px;
    text-decoration: underline;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.story-text-box {
    width: 300px;
    height: 175px;
    background-color: #f2f2f2;
	font-size: 20px;
    border: 5px solid #007bff;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
	text-align: center;
	font-size: 20px;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
	margin-bottom: 100px;
}

.button-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 235px;
    height: 150px;
    background-color: #007bff;
    color: #fff;
    border: 3px solid #000;
    border-radius: 5px;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
	text-align: center;
	line-height: 25px; 
}

.button-link:hover {
    background-color: #1EE14D;
	color: #000;
}


.img-container {
    text-align: center;
}

.img-container img {
    max-width: 300px;
	max-height: 300px;
	width: auto;
    height: auto;
	border: 5px solid #5E5E5E;
}

.footer {
    text-align: center; 
    background-color: #5E5E5E;
    padding: 10px; 
    position: fixed; 
    bottom: 0; 
    width: 100%; 
	height: 4%;
}
